/* здесь используйте глобальные селекторы img, body, html и так далее*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  background-color: $white;
}
