.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.about__list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 247px);
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 246px);
    gap: 80px;
    width: 1220px;
  }
}

.about__item {
  // display: grid;
  // align-items: center;
  // grid-template-columns: 60px 200px;
  // gap: 20px;

  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    flex-shrink: 0;
  }

  @media (min-width: $mobile-width) {
    &:not(:last-child) {
        margin-bottom: 20px;
      }
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#leaf");
    background-size: 30px 32px;
  }

  &--powder::before {
    background-image: url("../../images/icons/stack.svg#powder");
    background-size: 27px 29px;
  }

  &--food::before {
    background-image: url("../../images/icons/stack.svg#food");
    background-size: 26px 30px;
  }

  &--scales::before {
    background-image: url("../../images/icons/stack.svg#scales");
    background-size: 27px 31px;
  }
}

.about__description {
  margin: 0;
  color: $dark-grey;
}
