.about {
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 26px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 49px;
    border: none;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 247px);
    gap: 17px 137px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    width: 1220px;
  }
}

.about__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
      align-self: end;
      width: 80px;
      height: 80px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 80px 135px;
    grid-template-rows: 120px 1fr;
    gap: 30px;
    min-height: 280px;
    counter-increment: number 1;

    &::after {
      position: absolute;
      top: 0;
      left: 115px;
      font-family: $secondary-font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      content: counter(number);
      z-index: -1;
    }
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#leaf");
    background-size: 30px 32px;
  }

  &--powder::before {
    background-image: url("../../images/icons/stack.svg#powder");
    background-size: 27px 29px;
  }

  &--food::before {
    background-image: url("../../images/icons/stack.svg#food");
    background-size: 26px 30px;
  }

  &--scales::before {
    background-image: url("../../images/icons/stack.svg#scales");
    background-size: 27px 31px;
  }
}

.about__description {
  margin: 0;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: start;
    font-size: 16px;
    line-height: 24px;
  }
}
