.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &--primary {
    color: $white;
    background-color: $basic-green;
  }

  &--secondary {
    color: $dark-grey;
    background-color: $basic-grey;
  }
}
