.catalog {
  padding-top: 27px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 92px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 99px;
  }
}

.catalog__container {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      background-image: linear-gradient($white 82px, $basic-grey 82px);
    }
  }
}
