.example {
  background-color: $light-grey;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  color: $dark-grey;
}

.example__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
}

.example__item {
  text-align: center;
}

.example__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__info {
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
}

.example__total {
  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
