.example {
  background-color: $light-grey;
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 436px;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  color: $dark-grey;
}

.example__info {
  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    gap: 43px;
  }
}

.example__item {
  text-align: center;
}

.example__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__text {
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
}

.example__total {
  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
