.example {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 66px;
    background-image: linear-gradient($white 619px, $light-grey 619px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 74px;
    background-image: linear-gradient($white 136px, $light-grey 136px);
  }
}

.example__container {
  @media (max-width: calc($desktop-width - 1px)) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 436px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.example__info {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 124px);
  justify-content: center;
  gap: 32px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    margin-bottom: 62px;
  }
}

.example__item {
  position: relative;
  padding: 13px 15px 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

.example__number {
  margin: 0;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 0 14px;
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  background-color: $light-grey;

  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    min-width: 130px;
    padding: 0;
    top: 90%;
    font-size: 14px;
    line-height: 14px;
  }
}

.example__result {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    text-align: left;
    margin-bottom: 0;
  }
}

.example__total {
  @media (min-width: $tablet-width) {
    margin: 9px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 63px;
  }
}
