.form__section {
  padding-top: 25px;
}

.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__field {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;

  @media (max-width: $mobile-width) {
    &--checkbox:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &--radio:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__label {
  font-family: $secondary-font;
  color: $dark-grey;
  text-transform: uppercase;

  &--text {
    margin-right: 13px;
  }

  &--radio,
  &--checkbox {
    padding-left: 45px;
  }
}

.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $special-light-grey;
}

.form__radio {
  & + .form__control-mark {
    border-radius: 50%;
  }

  &:checked + .form__control-mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 50%;
    content: "";
  }
}

.form__checkbox {
  &:checked + .form__control-mark {
    background-image: url("../../images/icons/stack.svg#tick");
    background-position: center;
  }
}

.form__title-wrapper {
  border-top: 2px solid $basic-green;
}

.form__title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  background-color: $white;
  transform: translate(-20px, -17px);

  @media (max-width: $tablet-width) {
    max-width: 222px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    transform: translate(-40px, -17px);
  }
}

.form__control {
  flex-grow: 1;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: $secondary-font;
  font-size: 20px;
  color: $dark-grey;
  text-transform: uppercase;
  border: 1px solid $border-grey;

  &:hover {
    border-color: $special-light-grey;
  }

  &:focus {
    border: 2px solid $dark-grey;
  }

  &--icon {
    padding-right: 46px;
  }

  &--error {
    border: 2px solid $error;
  }

  &--icon:focus + .form__icon {
    color: $basic-green;
  }

  &--error + .form__icon {
    color: $error;
  }

  &--textarea {
    height: 150px;

    @media (min-width: $tablet-width) {
      height: 175px;
    }
  }
}

.form__control:placeholder-shown {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  color: $special-dark-grey;
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.form__note {
  line-height: 16px;
}
