.header {
  background-color: $white;
  z-index: 1;

  @media (max-width: calc($tablet-width - 1px)) {
    border-bottom: 1px solid #e6e6e6;
  }

  &--index {
    position: relative;
    border: none;

    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 694px;
        background-color: #65a83d;
        background-image:
          image-set(
            url("../../images/hero/index-background-desktop@1x.webp") type("image/webp") 1x,
            url("../../images/hero/index-background-desktop@2x.webp") type("image/webp") 2x,
            url("../../images/hero/index-background-desktop@1x.jpg") type("image/jpg") 1x,
            url("../../images/hero/index-background-desktop@2x.jpg") type("image/jpg") 2x
          );
        background-repeat: no-repeat;
        background-position: left;
        content: "";
        z-index: -1;
      }
    }
  }
}

.header__container {
  @media (min-width: $mobile-width) {
    padding-top: 13px;
  }

  @media (min-width: $tablet-width) {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}
