.header {
  background-color: $white;
  z-index: 1;

  @media (max-width: calc($tablet-width - 1px)) {
    border-bottom: 1px solid #e6e6e6;
  }

  &--index {
    position: relative;

    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 694px;
        background-color: #65a83d;
        background-image: url("../../images/hero/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: left;
        content: "";
        z-index: -1;
      }
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../../images/hero/index-background-desktop@2x.jpg");
        background-size: auto 694px;
      }
    }
  }
}

.header__container {
  @media (min-width: $mobile-width) {
    padding-top: 13px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}
