.options__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.options__link {
  font-family: $font-secondary;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

.options__description {
  color: $dark-grey;
}
