.options {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 71px;
  }
}

.options__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.options__item {
  padding: 30px 33px 18px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 59px 52px;
  }
}

.options__title {
  position: relative;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: -5px;
    left: -70px;
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    content: "";
  }

  &--slim::after {
    position: absolute;
    top: -9px;
    left: -63px;
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--pro::after {
    position: absolute;
    top: 5px;
    left: -78px;
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-pro");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 15px;
      left: calc(100% + 53px);
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 4px;
      left: calc(100% + 83px);
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 58px;
      left: calc(100% + 18px);
      width: 269px;
      height: 113px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;

    &::before {
      top: -30px;
      left: -162px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: -36px;
      left: -147px;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: -10px;
      left: -181px;
      width: 134px;
      height: 56px;
    }
  }
}

.options__description {
  position: relative;
  margin-top: 0;
  margin-bottom: 43px;
  color: $dark-grey;

  @media (min-width: $mobile-width) and (max-width: calc($tablet-width - 1px)) {
    &::after {
      position: absolute;
      left: 0;
      bottom: -23px;
      width: 240px;
      height: 1px;
      background-color: $line-grey;
      content: "";
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.options__link {
  position: relative;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    position: absolute;
    top: 5px;
    right: -49px;
    width: 32px;
    height: 12px;
    background-image: url("../../images/icons/stack.svg#arrow");
    background-repeat: no-repeat;
    background-position: -8px;
    content: "";
  }

  &:hover::after,
  &:focus::after {
    background-position: 0;
    transition: 0.3s ease-in-out;
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    &::after {
      top: 9px;
      right: -58px;
    }
  }
}
