.other-products {
  @include reset-list;
}

.other-products__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.other-products__info {
  line-height: 14px;
  color: $dark-grey;
}
