.product-card {
  position: relative;

  &--show-more {
    padding-top: 55px;

    &::before {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      background-image: url("../../images/icons/stack.svg#plus");
      content: "";
    }
  }
}

.product-card__link {
  color: $black;
  text-decoration: none;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $special-dark-grey;
  text-transform: uppercase;

  &--black {
    color: $special-black;
  }
}

.product-card__details {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}
