.program__container {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 65px 40px 60px;
  }
}

.program__text {
  margin-bottom: 15px;
  font-family: $secondary-font;
  text-transform: uppercase;
}
