.section-title {
  margin-bottom: 35px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
