.slider {
  --slide-width: 50%;

  position: relative;
  display: grid;
  grid-template-columns: var(--slide-width) calc(100% - var(--slide-width));
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__slide {
  display: flex;
  overflow: hidden;

  &--before {
    justify-content: flex-start;
  }

  &--after {
    justify-content: flex-end;
  }
}

.slider__image {
  vertical-align: bottom;
}

.slider__button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: $special-grey;
  border-radius: 2px;
  border: none;
  z-index: 2;

  &::before,
  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $special-grey;
    content: "";
  }

  &::after {
    position: absolute;
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#slider-arrows");
    background-color: $special-grey;
    content: "";
  }

  &:hover {
    background-color: $basic-green;

    &::before {
      border-color: $basic-green;
    }

    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    background-color: $green-action;
    opacity: 0.6;

    &::before {
      border-color: $green-action;
    }

    &::after {
      background-color: $green-action;
    }
  }

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}
